*{
    margin: 0;
    padding:0;
}

body{
  justify-content: start !important;
  align-items: start !important; 
}
  
  #scope {
    height: 300px;
    width: 300px;
    border: solid 0.5px rgb(212, 175, 55);
    position: absolute;
    cursor: grab;
    left: 0px;
    top: 0px;
    clip-path: inset(0px 0px 0px 0px); 
  }
  
  .content {
    opacity: 70%;
    position: absolute;
    width: calc(100% - 100px); 
    height: calc(100% - 100px); 
    padding: 50px; 
    box-sizing: border-box;
    pointer-events: none; 
    clip-path: inset(100vh 100vw 100vh 100vw);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-spacing: 10px;
    padding: 100px;
    line-height: 2;
}


  