.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    background-color: white;
    opacity: 0.8;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    background-color: black;
    height: 100px;
}

#tooltip{
    color: var(--gold);
}