body{
    gap:20px;
}

#maze {
    margin-top: 20px;
    border: 1px solid white;
    position: relative;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
    display: grid;
    background-color: black;
}
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

.final::before{
    content: "👑";
    font-size: 13px;
    text-align: center;
    position: relative;
    top: -3px;
}

.current-gen{
    background-color: var(--gold);
}

.current{
    color: var(--gold);
}
.current::before{
    content: "♟";
    font-size: 18px;
    position: relative;
    top: -3px;
  
}

.won::before{
    content: "🎉";
    font-size: 13px;
    text-align: center;
    position: relative;
    top: -3px;
}

#tooltip{
    color: var(--gold);
}

.controls {
    position: relative;
    width: 110px;
    height: 70px;
    margin-top:30px;
    visibility: hidden;
}
    
.controls button {
    color : white;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: -2px 2px;
    flex-grow: 1;
    font-family: monospace;
    background: black;
    font-size: 14px;
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
    transform: scale(-1, -1);
    box-shadow: 2px -2px !important;
}

.top, .bottom {
    left: 50%;
    transform: translateX(-50%);
}

.bottom, .left, .right {
    bottom: 0px;
}

.lit{
    background: 3px solid var(--gold) !important;
    color: var(--gold) !important;
    border: 3px solid var(--gold) !important;
}